*{
    padding:0;
    margin:0;
}

body{
    background-color: aquamarine;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

h6{
    color:blue;
    font-weight: bold;
    margin-top: 20px;
}

#names-table{
    background-color: rgb(99, 230, 242);
    margin: 20px 30px;
}

td, th{
    padding:10px;
}


tr:nth-child(even){
    background-color: #891515;
}

.reg-form{
    width: 120vw;
    background:radial-gradient(rgb(122, 122, 202), rgb(201, 201, 139), rgb(204, 126, 126));
    border:solid blue 5px;
    outline: dashed red 10px;
    padding: 30px;
}

a{
    padding:20px;
    text-decoration: none;
    color: blue;
}

.reg-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.reg-btn{
    padding:10px;
    background-color: rgb(21, 156, 210);
    border: none;
    color:white;
}

ol > .names{
    list-style: decimal;
}

ul{
    list-style-type: square;
}

/* GRID STYLING */
.item1{
    grid-area: heading;
}
.item2{
    grid-area: dash;
}
.item3{
    grid-area: mid;
}
.item4{
    grid-area: right-grid;
}
.item5{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'heading heading heading heading heading heading'
    'dash dash mid mid right-grid right-grid'
    'dash dash footer footer right-grid right-grid';
    background-color: #891515;
    gap:20px;
    padding:10px;
}

.grid-container > div{
    background-color: white;
    padding: 20px;
}

input{
    padding:10px
}

.names-form{
    padding: 50px 30px;
}